
<div>
	<h4>
		<span class="label label-info label-right">Count of elements:
			{{(todos | async).length}}</span>
		<app-clearbutton></app-clearbutton>
	</h4>
	<app-todoinput></app-todoinput>
</div>

