<span *ngIf="!confirmMode">	
	<a href="#" (click)="openConfirm()">
		<span class="label label-info label-right">
			<span class="glyphicon glyphicon-trash"></span>
			<span>clear list</span>
		</span>
	</a>
</span>

<span *ngIf="confirmMode">
	<span class="label label-warning label-right">
		<a href="#" (click)="confirmDelete()">
			<span class="glyphicon glyphicon-ok"></span>
			<span>Liste endgültig löschen</span>
		</a>
		
		<a href="#" (click)="closeConfirm()">
			<span class="glyphicon glyphicon-remove" ></span>
			<span>abbrechen</span>
		</a>
	</span>
</span>