<div *ngIf="(todos | async).length > 0">

	<table class="table table-striped">
		<thead>
			<tr>
				<th width="50">id</th>
				<th width="50">done</th>
				<th>description</th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			<tr *ngFor="let t of (todos | async)">
				<td>{{t.id}}</td>
				<td><app-checkbox [id]="t.id" [checked]="t.done"></app-checkbox></td>				
				<td><app-labelinput [id]="t.id" [text]="t.description" [done]="t.done"></app-labelinput></td>
				<td align="right"><app-removeitem [id]="t.id"></app-removeitem></td>
			</tr>
		</tbody>
	</table>
</div>