<span *ngIf="!editMode" [style.text-decoration]="done ? 'line-through' : 'none'">{{ text }}</span>
<span *ngIf="!editMode && !done"> 
	<a class="edit" (click)="editModeOn()" href="#"> 
		<span class="glyphicon glyphicon-pencil"></span>
	</a>
</span>

<div class="input-group input-group-md" *ngIf="editMode">
	<input type="text" [(ngModel)]="text" placeholder="edit todo" class="form-control" /> 
	<span class="input-group-btn">
		<button (click)="editModeOff()" class="btn btn-primary"	[disabled]="text.length === 0">Change</button>
	</span>
</div>

