<div id="inputcontainer">
	<div class="input-group input-group-lg">
		<input type="text" [(ngModel)]="newtodo" class="form-control"
			placeholder="new todo" /> <span class="input-group-btn">
			<button (click)="add()" class="btn btn-primary"
				[disabled]="newtodo.length === 0">ADD</button>
		</span>
	</div>
</div>

