<span *ngIf="!checked" (click)="switchState()">
	<span class="glyphicon glyphicon-unchecked"></span>
	<span>{{text}}</span>
</span>

<span *ngIf="checked" (click)="switchState()">
	<span class=" glyphicon glyphicon-ok"></span>
	<span>{{text}}</span>
</span>