
	<span *ngIf="!confirmMode">	
		<a href="#" (click)="openConfirm()">
			<span class="glyphicon glyphicon-trash"></span>
		</a>
	</span>
	
	<span *ngIf="confirmMode">
		<a href="#" (click)="confirmDelete()">
			<span class="glyphicon glyphicon-ok"></span>
			<span>endgültig löschen</span>
		</a>
		
		<a href="#" (click)="closeConfirm()">
			<span class="glyphicon glyphicon-remove" ></span>
			<span>abbrechen</span>
		</a>
	</span>
